<html>
<head><meta charset="utf-8"></head>
<body style="font-family:'Times New Roman',serif; font-size:12pt;">

<p style="text-align:right; margin:0 0 6pt 0;">Nr. de &icirc;nreg. …………./…………………….</p>

<p style="text-align:center; font-weight:bold; margin:0 0 14pt 0;">ANGAJAMENT DE EXECU&#538;IE DOCUMENTA&#538;IE</p>

<p style="margin:0 0 8pt 0;"><b>I. P&#258;R&#538;I IMPLICATE</b></p>

<p style="margin:0 0 4pt 0;"><b>Proprietar/Beneficiar:</b></p>

<p style="text-align:justify; margin:0 0 10pt 0;">{{CONV_NUME}}, cu domiciliul &icirc;n {{CONV_ADRESA}}, identificat cu CNP {{CONV_CNP}} &#537;i av&acirc;nd actul de identitate seria {{CONV_SERIE_CI}} nr. {{CONV_NUMAR_CI}}.</p>

<p style="margin:0 0 4pt 0;"><b>Persoan&#259; juridic&#259; autorizat&#259;/executant:</b></p>

<p style="text-align:justify; margin:0 0 12pt 0;">Persoana fizic&#259; autorizat&#259; {{EXECUTANT_NUME}} cu certificat de autorizare {{EXECUTANT_AUTORIZARE}}</p>

<p style="margin:0 0 8pt 0;"><b>II. OBIECT &#536;I SPECIFICA&#538;II</b></p>

<p style="text-align:justify; margin:0 0 8pt 0;">1. Persoana juridic&#259; autorizat&#259; se angajeaz&#259; s&#259; execute o documenta&#539;ie cadastral&#259; av&acirc;nd ca obiect {{OBIECT_LUCRARE}} pentru imobilul &icirc;nscris &icirc;n CF nr. {{CF_NUMAR}} cu nr. cad. {{NR_CADASTRAL}} din UAT {{UAT}}, Localitatea {{LOCALITATE_IMOBIL}}, str. {{STRADA_IMOBIL}}.</p>

<p style="text-align:justify; margin:0 0 8pt 0;">2. Proprietarul/beneficiarul r&#259;spunde pentru cunoa&#537;terea, indicarea limitelor &#537;i conservarea acestora, precum &#537;i pentru punerea la dispozi&#539;ia persoanei juridice autorizate a tuturor informa&#539;iilor &#537;i documentelor necesare pentru efectuarea serviciului cerut &#537;i s&#259; pl&#259;teasc&#259; contravaloarea serviciilor ce i-au fost prestate la termenele stipulate &icirc;n angajament.</p>

<p style="text-align:justify; margin:0 0 8pt 0;">3. Termenul de execu&#539;ie a documenta&#539;iei este de 30-90 zile &icirc;n func&#539;ie de complexitatea lucr&#259;rii, &icirc;ncep&acirc;nd cu data {{DATACOMANDA}} (data prezent&#259;rii tuturor actelor men&#539;ionate la pct. 2).</p>

<p style="text-align:justify; margin:0 0 8pt 0;">4. Onorariul convenit pentru lucr&#259;rile men&#539;ionate la pct. 1 este de {{ONORARIU}} lei, TVA inclus. Pre&#539;ul nu include taxele de avizare. Plata serviciilor a fost efectuat&#259; integral, &icirc;n avans, de c&#259;tre beneficiar prin platforma eghiseul.ro, conform contractului de prest&#259;ri servicii nr. {{NRCOMANDA}} din {{DATACOMANDA}}.</p>

<p style="text-align:justify; margin:0 0 8pt 0;">5. Persoana autorizat&#259; va putea solicita informa&#539;ii &#537;i date din arhiva BCPI necesare &icirc;ntocmirii documenta&#539;iei cu privire la imobilul men&#539;ionat la pct.1, va putea depune documenta&#539;ia la BCPI &#537;i va putea ridica &icirc;nscrisurile &#537;i solu&#539;ionarea acesteia &icirc;n baza acestui angajament.</p>

<p style="text-align:justify; margin:0 0 8pt 0;">6. Prezentul angajament se &icirc;ncheie &icirc;n 2 exemplare, c&acirc;te unul pentru fiecare parte.</p>

<p style="text-align:justify; margin:0 0 8pt 0;">7. Num&#259;rul de ordine al documenta&#539;iei din registrul de eviden&#539;&#259; a lucr&#259;rilor realizate/refuzate este ……………… .</p>

<p style="text-align:justify; margin:0 0 6pt 0;">8. Alte clauze &#537;i condi&#539;ion&#259;ri:</p>

<p style="text-align:justify; margin:0 0 8pt 0;">Eu {{CONV_NUME}}, prin prezenta, &icirc;mi exprim acordul pentru prelucrarea &#537;i stocarea, de c&#259;tre Persoana fizic&#259; autorizat&#259; {{EXECUTANT_NUME}}, a datelor mele cu caracter personal &icirc;n conformitate cu Legea nr. 190/18.07.2018 privind m&#259;suri de punere &icirc;n aplicare a regulamentului (UE) 679/2016 al parlamentului European &#537;i al Consiliului din 27 aprilie 2016 privind protec&#539;ia persoanelor fizice &icirc;n ceea ce prive&#537;te prelucrarea datelor cu caracter personal.</p>

<p style="text-align:justify; margin:0 0 8pt 0;">Am luat la cuno&#537;tin&#539;&#259; c&#259; datele vor fi tratate confiden&#539;ial, p&#259;strate doar pe perioada prev&#259;zut&#259; de lege &#537;i utilizate &icirc;n scopul prest&#259;rii serviciilor publice de interes local, &icirc;n vederea exercit&#259;rii activit&#259;&#539;ii specifice institu&#539;iei publice &#537;i a solu&#539;ion&#259;rii cererii formulate.</p>

<p style="text-align:justify; margin:0 0 12pt 0;">Am fost informat c&#259; &icirc;n conformitate cu legisla&#539;ia &icirc;n vigoare beneficiez de dreptul de acces, de interven&#539;ie asupra datelor, de a m&#259; opune prelucr&#259;rii datelor &#537;i de a solicita &#537;tergerea datelor.</p>

<p style="margin:0 0 16pt 0;">Data &icirc;ntocmirii: {{DATA}}</p>

<table width="100%" cellspacing="0" cellpadding="0" style="border:none;">
<tr>
<td width="50%" style="text-align:center; border:none;"><b>Proprietar/Beneficiar</b></td>
<td width="50%" style="text-align:center; border:none;"><b>Executant</b></td>
</tr>
<tr>
<td width="50%" style="text-align:center; border:none;">{{SEMNATURA_CLIENT}}</td>
<td width="50%" style="text-align:center; border:none;">&nbsp;</td>
</tr>
<tr>
<td width="50%" style="text-align:center; border:none;">{{CONV_NUME}}</td>
<td width="50%" style="text-align:center; border:none;">{{EXECUTANT_NUME}}<br/>Semn&#259;tura &#537;i &#537;tampila</td>
</tr>
</table>

<p style="font-size:8pt; margin:18pt 0 0 0;">Semnat electronic de beneficiar la {{DATA}}, IP {{CLIENT_IP}}. Document generat automat prin platforma eghiseul.ro pentru comanda {{NRCOMANDA}}.</p>

</body>
</html>
